@font-face {
    font-family: "Raleway-Regular";
    src: url('../../fonts/Raleway-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: "Raleway-Bold";
    src: url('../../fonts/Raleway-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}