.footer{
    background: #f6f7f8;
    .footerTitle{
        font-family: "Raleway-Bold";
        font-size: 17px;
    }
    .socialLinks{
        padding-right:40px;
    }
    .arrowRight {
        margin-right: 20px;
    }
    .firstRow{
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .secondRow{
        margin-bottom: 70px;
    }
}