.topBar {
    height: 128px;
    background: $topMenuBg;
    border: 0;
    .logo {
        padding:0;
        margin-left: 0 !important;
    }
    .mainMenu {
        float: right;
        ul {
            padding-top: 60px;
            li {
                height: 154px;
                a {
                    color: $topMenuText;
                    font-size: 18px;
                }
            }
        }
        .slash {
            width: 40px;
        }

        .phone-padding {
            padding-top: 8px;
        }

        .phone {
            font: "Raleway-Bold";
            letter-spacing: 0px;
            font-weight: bold;
            font-size:18px;
            color: #0B1840;
            text-transform: uppercase;
        }
    }
}