@import "colors.scss";
@import "topBar.scss";
@import "fonts.scss";

body {
    color: $text;
    font-family: "Raleway-Regular";
}

.container {
    width: 1080px;
}

.mainContentHolder {
    margin-top: 154px;
}